.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#searchInput {
  width: 95vw;
}

/*Footer Component*/
.footer{
  display: inline;
  width: 100%;
  color: pink;
  border-top: 2px solid pink;
}

.container-footer{
  display: inline-block;
  width: 100%;
}
.breast-size{
  display: inline-block;
  text-decoration: line-through;
  width: 85px;
}