.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#searchInput {
  width: 90vw;
}

/*Footer Component*/
.footer {
  display: inline;
  width: 100%;
  color: pink;
  border-top: 2px solid pink;
}

.container-footer {
  display: inline-block;
  width: 100%;
}
.breast-size {
  display: inline-block;
  text-decoration: line-through;
  width: 85px;
}

/* #featuredItemHeader {
  background: red;
  font-family: "notosans-light", sans-serif;
} */

#featuredItemHeader {
  background: pink;
  font-family: optimaroman;
  border-radius: 5px;
}

#ecoItemHeader {
  background: #4aeb3c;
  border-radius: 5px;
}

#featuredItemText,
#ecoItemHeader,
#ecoItemText {
  font-family: optimaroman;
}

#featuredItems,
#ecoItems {
  width: 50% !important;
}

#featuredText {
  background: pink;
}

#bcm {
  font-size: 26px;
  color: white;
}

#logoImg {
  width: 40px;
}

#featuredItems {
  padding-bottom: 40px;
}
